{% extends "base/base.html" %}
{% load static %}

{% block content %}


<div class="page-content">
    <div class="container-fluid">


        <div class="row">
            <div class="col-xl-12">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="card mini-stats-wid">
                            <div class="card-body text-center">
                                <button class="btn btn-primary btn-lg w-100 py-3">Clock In</button>
                            </div>
                        </div>
                    </div>
        
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="card blog-stats-wid">
                            <div class="card-body text-center">
                                <button class="btn btn-danger btn-lg w-100 py-3">Clock Out</button>
                            </div>
                        </div>
                    </div>
        
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="card blog-stats-wid">
                            <div class="card-body text-center">
                                <a href=" {% url 'frontend:leave_request' %} " class="btn btn-warning btn-lg w-100 py-3">Leave Days</a>
                            </div>
                        </div>
                    </div>
        
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="card blog-stats-wid">
                            <div class="card-body text-center">

                               

                                <a  href=" {% url 'frontend:salary_advance_request' %}" class="btn btn-success btn-lg w-100 py-3">Salary Advance</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- end row -->

        <div class="row">
            <div class="col-xl-4">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title mb-4">Leave</h4>
                        
                        <div id="pie_chart" data-colors='["--bs-success","--bs-primary", "--bs-danger","--bs-info", "--bs-warning"]' class="apex-charts" dir="ltr"></div>
                    </div>
                </div>
            </div>
            <!-- end col -->
            
            <div class="col-xl-4">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title mb-4">Salary Advance</h4>
                        
                        <div id="donut_chart" data-colors='["--bs-success","--bs-primary", "--bs-danger","--bs-info", "--bs-warning"]' class="apex-charts"  dir="ltr"></div>
                    </div>
                </div>
            </div>

            <div class="col-xl-4">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title mb-4">Leave / Advance</h4>

                        <ul class="nav nav-pills bg-light rounded" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-bs-toggle="tab" href="#buy-tab" role="tab">Leave</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link btn-btn-success" data-bs-toggle="tab" href="#sell-tab" role="tab">Advance</a>
                            </li>
                        </ul>

                        <div class="tab-content mt-4" style="min-height: 340px;">
                            <div class="tab-pane active" id="buy-tab" role="tabpanel">
                                
                        
                                <div>

                                    <form action="{% url 'base:home_leave_request' %}" method="POST" class="needs-validation" novalidate>
                                        {% csrf_token %}
                                        <div class="row">
                                            <div class="col-xl-12">
                                                <div class="card">
                                                    <div class="card-body">
                            
                                                       
                                                        {% if messages %}
                                                        {% for message in messages %}
                                                            <div class="alert 
                                                                {% if message.tags == 'success' %}alert-success{% elif message.tags == 'error' %}alert-danger{% elif message.tags == 'warning' %}alert-warning{% else %}alert-secondary{% endif %}" 
                                                                role="alert">
                                                                {{ message }} 
                                                            </div>
                                                            {% endfor %}
                                                        {% endif %}
                            
                            
                                                        <h4 class="card-title">Leave Information</h4>
                                                            <div class="row">
                                                                <div class="col-md-6">
                                                                    <div class="mb-3">
                                                                        <label for="validationCustom01" class="form-label">From</label>
                                                                        <input type="date" name="start_date" class="form-control" id="validationCustom01"
                                                                            placeholder="Enter start date" required>
                                                                            <div class="invalid-feedback">
                                                                                Please provide a valid start date.
                                                                            </div> 
                                                                    </div>
                                                                </div>
                            
                                                                <div class="col-md-6">
                                                                    <div class="mb-3">
                                                                        <label for="validationCustom01" class="form-label">To</label>
                                                                        <input type="date" name="end_date" class="form-control" id="validationCustom01"
                                                                            placeholder="To Date" required>
                                                                            <div class="invalid-feedback">
                                                                                Please provide a valid To date.
                                                                            </div> 
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-12">
                                                                    <div class="mb-3">
                                                                        <label for="validationCustom03" class="form-label">Leave Type</label>
                                                                        <select name="leave_type" class="form-select" id="validationCustom03" required>
                                                                            <option selected disabled value="">Choose Leave Type...</option>
                                                                            <option value="Annual Leave">Annual Leave</option>
                                                                            <option value="Sick Leave">Sick Leave</option>
                                                                            <option value="Maternity Leave">Maternity Leave</option>
                                                                            <option value="Paternity Leave">Paternity Leave</option>
                                                                            <option value="Study Leave">Study Leave</option>
                                                                            <option value="Compassionate Leave">Compassionate Leave</option>
                                                                            <option value="Unpaid Leave">Unpaid Leave</option>
                                                                        </select>
                                                                        
                            
                            
                                                                        <div class="invalid-feedback">
                                                                            Please provide a valid Leave Type.
                                                                        </div> 
                                                                    </div>
                                                                </div>
                            
                                                                <div class="col-md-12">
                                                                    <div class="mb-3">
                                                                        <label for="validationCustom02" class="form-label">Reason</label>
                                                                        <textarea name="reason" class="form-control" id="validationCustom02" rows="3" placeholder="Enter Leave Reason" required></textarea>
                                                                        <div class="invalid-feedback">
                                                                            Please provide a valid Reason.
                                                                        </div>
                                                                    </div>
                                                                    
                                                                </div>
                            
                                                                <div class="mb-3 my-3">
                                                                    <button class="btn btn-primary mx-3"> Submit </button>
                                                                </div>
                                                                
                                                            </div>
                                                           
                                                    </div>
                                                </div>
                                            </div> 
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="tab-pane" id="sell-tab" role="tabpanel">
                        

                                <div>

                                    <form action="{% url 'base:home_salary_advance_request'  %}" method="POST" class="needs-validation" novalidate>
                                        {% csrf_token %}
                                        <div class="row">
                                            <div class="col-xl-12">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <h4 class="card-title">Salary Advance Request</h4>
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="mb-3">
                                                                    <label for="amountNeeded" class="form-label">Amount Needed</label>
                                                                    <input type="number" name="amount" class="form-control" id="amountNeeded" placeholder="Enter amount needed" required>
                                                                    <div class="invalid-feedback">
                                                                        Please provide a valid amount.
                                                                    </div>
                                                                </div>
                                                            </div>
                            
                                                            <div class="col-md-12">
                                                                <div class="mb-3">
                                                                    <label for="reason" class="form-label">Reason</label>
                                                                    <textarea name="reason" class="form-control" id="reason" rows="3" placeholder="Enter reason for salary advance" required></textarea>
                                                                    <div class="invalid-feedback">
                                                                        Please provide a valid reason.
                                                                    </div>
                                                                </div>
                                                            </div>
                            
                                                            <div class="mb-3 my-3">
                                                                <button class="btn btn-success mx-3"> Submit </button>
                                                            </div>
                            
                                                        </div>
                            
                                                    </div>
                                                </div>
                                            </div> 
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end col -->
        </div>
    
        
    </div> <!-- container-fluid -->
</div>
<!-- End Page-content -->

<script src="{% static 'assets/libs/apexcharts/apexcharts.min.js' %}"></script>
<script src="{% static 'assets/js/pages/apexcharts.init.js' %}"></script>
    
{% endblock  %}
    