{% extends "base/base.html" %}
{% block content %}

<div class="page-content">
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                    <h4 class="mb-sm-0 font-size-18">Salary Advance Details</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Salary Advances</a></li>
                            <li class="breadcrumb-item active">Timothy Simwawa Salary Advance</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row">
           
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body border-bottom">
                        <div class="d-flex">
                            <img src="assets/images/companies/wechat.svg" alt="" height="50">
                            <div class="flex-grow-1 ms-3">
                                <h5 class="fw-semibold">Timothy Simwawa</h5>
                                <ul class="list-unstyled hstack gap-2 mb-0">
                                    <li>
                                        <i class="bx bx-building-house"></i> <span class="text-muted">Developer</span>
                                    </li>
                                    <li>
                                        <i class="bx bx-map"></i> <span class="text-muted">1005 Northrise</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                       
                        <div class="col-xl-10">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="fw-semibold">Salary Advance Overview</h5>
            
                                    <div class="table-responsive">
                                        <table class="table">
                                            <tbody>
                                                <tr>
                                                    <th scope="col">Requested Amount</th>
                                                    <td scope="col">{{ user_salary_advc.amount}}</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">Approval Status</th>
                                                    <td><span class="badge badge-soft-warning">{{ user_salary_advc.approval_status }}</span></td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">Request Date</th>
                                                    <td>{{ user_salary_advc.request_date }}</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">Reason</th>
                                                    <td>{{ user_salary_advc.reason }}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                    <div class="flex">
                                        <a class="btn btn-success">
                                            Approve
                                        </a>

                                        <a class="btn btn-danger">
                                            Reject
                                        </a>

                                        <a class="btn btn-primary">
                                            Back
                                        </a>

                                    </div>
                                    
                                </div>
                            </div>
                        </div><!--end col-->
                    </div>
                </div>
            </div><!--end col-->
        </div><!--end row-->

    </div> <!-- container-fluid -->
</div><!-- End Page-content -->
    
{% endblock %}
