{% extends "base/base.html" %}


{% block content %}
<div class="page-content">
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                    <h4 class="mb-sm-0 font-size-18">Lending</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Crypto</a></li>
                            <li class="breadcrumb-item active">Lending</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row">

            <div class="col-xl-8">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Deposits</h4>

                        <div class="row">
                            <div class="col-lg-4">
                                <div class="border p-3 rounded mt-4">
                                    <div class="d-flex align-items-center mb-3">
                                        <div class="avatar-xs me-3">
                                            <span class="avatar-title rounded-circle bg-warning-subtle text-warning font-size-18">
                                                <i class="mdi mdi-briefcase"></i>
                                            </span>
                                        </div>
                                        <h5 class="font-size-14 mb-0">Leave</h5>
                                    </div>

                                    <div class="col-lg-6 py-2">
                                            <a href="javascript: void(0);" class="btn btn-primary">Apply</a>              
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="border p-3 rounded mt-4">
                                    <div class="d-flex align-items-center mb-3">
                                        <div class="avatar-xs me-3">
                                            <span class="avatar-title rounded-circle bg-warning-subtle text-warning font-size-18">
                                                <i class="mdi mdi-cash"></i>
                                            </span>
                                        </div>
                                        <h5 class="font-size-14 mb-0">Salary Advance</h5>
                                    </div>

                    

                                    <div class="col-lg-6 py-2">

                                            <a href="javascript: void(0);" class="btn btn-primary">Apply</a>
                
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="border p-3 rounded mt-4">
                                    <div class="d-flex align-items-center mb-3">
                                        <div class="avatar-xs me-3">
                                            <span class="avatar-title rounded-circle bg-warning-subtle text-warning font-size-18">
                                                <i class="mdi mdi-calendar-remove"></i>
                                            </span>
                                        </div>
                                        <h5 class="font-size-14 mb-0">Leave Commutation</h5>
                                    </div>

                    

                                    <div class="col-lg-6 py-2">

                                            <a href="javascript: void(0);" class="btn btn-primary">Apply</a>
                
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="card">
                    <div class="page-content">
                        <div class="container-fluid">

                            <div class="row justify-content-center">
                                <div class="col-lg-4">
                                    <div class="card">
                                        <div class="card-body">
                                        <h4 class="card-title mb-4">Pie Chart</h4>
                                        
                                        <div id="pie_chart" data-colors='["--bs-success","--bs-primary", "--bs-danger","--bs-info", "--bs-warning"]' class="apex-charts" dir="ltr"></div>
                                        </div>
                                    </div>
                                </div> <!-- end col -->


                                <div class="col-lg-4">
                                    <div class="card">
                                        <div class="card-body">
                                            <h4 class="card-title mb-4">Pie Chart</h4>
                                            <div id="pie-chart" data-colors='["--bs-primary","--bs-warning", "--bs-danger","--bs-info", "--bs-success"]' class="e-charts"></div>
                                        </div>
                                    </div>
                                </div>
                            </div> <!-- end row -->
    
                        </div> <!-- container-fluid -->
                    </div>
                </div>
            </div>

            <div class="col-xl-4">
                <div class="card">
                    <div class="card-body border-bottom">
                        <div class="float-end dropdown ms-2">
                            <a class="text-muted" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="mdi mdi-dots-horizontal font-size-18"></i>
                            </a>
                          
                            <div class="dropdown-menu dropdown-menu-end">
                              <a class="dropdown-item" href="#">Action</a>
                              <a class="dropdown-item" href="#">Another action</a>
                              <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </div>
                        
                        <div>
                            <div class="mb-4 me-3">
                                <i class="mdi mdi-account-circle text-primary h1"></i>
                            </div>

                            <div>
                                <h5 class="">{{ get_employee.first_name }} {{ get_employee.last_name }}</h5>
                                <p class="text-muted mb-1">{{ get_employee.email }}</p>
                                <p class="text-muted mb-0">Employee no: {{ get_employee.employee_id }}</p>
                                <p class="text-muted mb-0">Id no: {{ get_employee.identification_number }}</p>
                                
                            </div>
                        </div>
                    </div>
                    <div class="card-body border-bottom">
                        <div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div>
                                        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModalScrollable">
                                            Update Profile

                                        </button>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div>
                                        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#settingsModalScrollable">
                                            Settings


                                        </button>
                                    </div>
                                </div>
                               
                            </div>
                        </div>
                        
                    </div>

                </div>

                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title mb-4">Personal Information</h4>

                        <div>
                            <ul class="verti-timeline list-unstyled">
                                <li class="event-list">
                                    <div class="event-timeline-dot">
                                        <i class="bx bx-right-arrow-circle"></i>
                                    </div>
                                    <div class="d-flex">
                                        <div class="flex-shrink-0 me-3">
                                            <i class="bx bx-user-plus h2 text-primary"></i>
                                        </div>
                                        <div class="flex-grow-1">
                                            <div>
                                                <h5 class="font-size-14">Username</h5>
                                                <p class="text-muted">{{ request.user.username }}</p>
                                            </div>

                            

                                            <div>
                                                <h5 class="font-size-14">Address</h5>
                                                <p class="text-muted">{{ request.user.employee.address }}</p>
                                            </div>

                                            
                                            <div>
                                                <h5 class="font-size-14">Position</h5>
                                                <p class="text-muted">{{ request.user.employee.postion  }}</p>
                                            </div>

                                            <div>
                                                <h5 class="font-size-14">Department</h5>
                                                <p class="text-muted">{{ request.user.employee.department |upper }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
            
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end row -->
        
    </div> <!-- container-fluid  0763409727-->
</div>

<!-- Update Profile Modal -->
<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <!-- Scrollable Modal -->
                <div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-scrollable">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalScrollableTitle">
                                    {{ get_employee.first_name }} {{ get_employee.last_name }} - Profile
                                </h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="mb-3">
                                        <label>First Name</label>
                                        <input type="text" class="form-control" value="{{ get_employee.first_name }}">
                                    </div>
                                    <div class="mb-3">
                                        <label>Last Name</label>
                                        <input type="text" class="form-control" value="{{ get_employee.last_name }}">
                                    </div>
                                    <div class="mb-3">
                                        <label>Email</label>
                                        <input type="email" class="form-control" value="{{ get_employee.email }}">
                                    </div>
                                    <div class="mb-3">
                                        <label>Phone Number</label>
                                        <input type="text" class="form-control" value="{{ get_employee.phone_number }}">
                                    </div>
                                    <div class="mb-3">
                                        <label>ID Type</label>
                                        <input type="text" class="form-control" value="{{ get_employee.id_type }}">
                                    </div>
                                    <div class="mb-3">
                                        <label>Identity Number</label>
                                        <input type="text" class="form-control" value="{{ get_employee.identity_number }}">
                                    </div>
                                   
                                    <div class="mb-3">
                                        <label>SSN</label>
                                        <input type="text" class="form-control" value="{{ get_employee.ssn }}">
                                    </div>
                                    <div class="mb-3">
                                        <label>TPIN</label>
                                        <input type="text" class="form-control" value="{{ get_employee.tpin }}">
                                    </div>
                                    <div class="mb-3">
                                        <label>NHIMA Number</label>
                                        <input type="text" class="form-control" value="{{ get_employee.nhima_number }}">
                                    </div>

                                    <div class="mb-3">
                                        <label>ID Front</label>
                                        <input type="file" class="form-control">
                                    </div>
                                    <div class="mb-3">
                                        <label>ID Back</label>
                                        <input type="file" class="form-control">
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Save Changes</button>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->
            </div>
        </div>
    </div>
</div>


<!-- settings modal -->
<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">

                <!-- Scrollable modal -->
                <div class="modal fade" id="settingsModalScrollable" tabindex="-1" role="dialog" aria-labelledby="settingsModalScrollableTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-scrollable">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalScrollableTitle">Settings</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>

                                <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Save changes</button>
                                </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->

            </div>
            <!-- end card body -->
        </div>
        <!-- end card -->
    </div>
    <!-- end col -->

    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <div>
                    
                    <!-- Static Backdrop Modal -->
                    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <p>I will not close if you click outside me. Don't even try to press escape key.</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary">Understood</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>

            </div>
            <!-- end card body -->
        </div>
        <!-- end card -->
    </div>
    <!-- end col -->
</div>

<!--end of settings modal -->
<!-- end row -->
{% endblock %}